<div>
  <div>
    <div>

      <h1>Welcome to (本)<strong>Bookers</strong> !!</h1>
      <p>In (本)<strong>Boolers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>

      <!--ボタン-->
      <div>
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      </div>

    </div>
  </div>
</div>